# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [ ]:
# !pip install selenium
# download e instalação do webdriver

In [6]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

# Para rodar o Edge em 2º plano

# from selenium.webdriver.edge.options import Options
# edge_options = Options()
# edge_options.headless = True 
# navegador = webdriver.Edge(options=edge_options)

# passo 1: pegar a cotação do dólar

navegador = webdriver.Edge()
# caso queira deixar na mesma pasta do seu código
# navegador = webdriver.Edge("msedgedriver.exe")
navegador.get("https://www.google.com.br/")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotacao dolar")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[3]/center/input[1]').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar) # para conferir o valor.

# passo 2: pegar a cotação do euro

navegador.get("https://www.google.com.br/")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotacao euro")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[3]/center/input[1]').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro) # para conferir o valor.

# passo 3: pegar a cotação do ouro

navegador.get("https://www.melhorcambio.com/ouro-hoje#:~:text=O%20valor%20do%20grama%20do,em%20R%24%20292%2C87.")
cotacao_ouro = navegador.find_element(By.XPATH,'//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",",".")
navegador.quit()
print(cotacao_ouro) # para conferir o valor.

5.2526
5.346175069
302.68

### Agora vamos atualizar a nossa base de preços com as novas cotações

- Importando a base de dados

In [6]:
# passo 4: atualizar a base de dados

import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [7]:
# passo 5: recalcular os preços

# atualizar as cotações
tabela.loc[tabela["Moeda"]=="Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"]=="Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"]=="Ouro", "Cotação"] = float(cotacao_ouro)
# atualizar o preço de compra (preço original * cotação)
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]
# atualizar o preço de venda (preço de compra * Margem)
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.279200,5279.147208,1.40,7390.806091
1,Carro Renault,4500.00,Euro,5.365436,24144.460794,2.00,48288.921588
2,Notebook Dell,899.99,Dólar,5.279200,4751.227208,1.70,8077.086254
3,IPhone,799.00,Dólar,5.279200,4218.080800,1.70,7170.737360
4,Carro Fiat,3000.00,Euro,5.365436,16096.307196,1.90,30582.983672
5,Celular Xiaomi,480.48,Dólar,5.279200,2536.550016,2.00,5073.100032
6,Joia 20g,20.00,Ouro,302.390000,6047.800000,1.15,6954.970000

### Agora vamos exportar a nova base de preços atualizada

In [8]:
# passo 6: exportar a base de dados
tabela.to_excel("Produtos Novo.xlsx", index=False)